RewriteEngine On


RewriteRule index\.html$ / [R=301,L]

RewriteRule /$ index.php? [NC,L,QSA]
RewriteRule despre-noi\.html$ about.php? [NC,L,QSA]
RewriteRule contact\.html$ contact.php? [NC,L,QSA]
RewriteRule meniu\.html$ menu.php? [NC,L,QSA]
